
@{
    ViewBag.Title = "Error";
   // Layout = null;
}
<style>
   
    h3{
        margin-top:70px;
    }
</style>
    <h3 class="text-center">Ooops! something wrong please try again :( </h3>
  <hr />
    <h4 class="text-center">Possible issues</h4>
    <ul class="text-center text-danger" >
        <li>Invalid entry</li>
        <li>check there is no field empty</li>
        <li>UnAuthorized access</li>
        <li>connection failure</li>
    </ul>
    <div class=" alert alert-info">If all the above are currect then please contact with developer</div>


