
@{
    ViewBag.Title = "resultmenu";
    Layout = null;
}


<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Result")"><i class="fa fa-check-circle"></i>Submit result</a></li>
    <li><a href="@Url.Action("ViewResult","Result")"><i class="fa fa-expand"></i> View Results</a></li>
    <li><a href="@Url.Action("Index","GradeSetting")"><i class="fa fa-expand"></i> Grade System</a></li>
    <li><a href="@Url.Action("ViewExamType","Result")"><i class="fa fa-plus-circle"></i> Add Exams</a></li>
</ol>

