
@{
    ViewBag.Title = "Features";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            background: #1f9d91;
            margin: 10px;
            font-family: sans-serif;
        }

        h2, h3 {
            margin: 30px 0px 0px 5px;
            color: white;
            font-weight: 600;
        }

        ul, p {
            color: rgb(237, 243, 244);
        }
    </style>
</head>
<body>

    <h2>Features &amp; Functionalities</h2><hr>
    <h3>1. Fully Student Support (online system)</h3>
    <ul style="list-style:square;">
        <li>Online Attendance</li>
        <li>Result Management(Exams,Tests,Homework,Assignments)</li>
        <li>Automated Grading system in result management</li>
    </ul>
    <h3>2. Fee Management</h3>
    <ul style="list-style:square;">

        <li>Automatic Sib disccount system</li>
        <li>Auto adding previous month arrears to current month (for example if a person pay fee  5000 out of 6000 for august month,our system will autometically add 1000 to september month total fee along with detail.</li>
        <li>System can send system generated SMS to parents along with fee detail as reminder</li>
    </ul>
    <h3>3. Teacher Login</h3>
    <ul style="list-style:square;">
        <li>Teacher can manage only assigned classes and subject's activities</li>
        <li>Subject mapping can assign subjects to teacher while head teacher mapping asign class to teacher</li>
        <li>This feature can reduce burden of admin becuase each teacher will manage thier own assign classes and subjects(resutls)</li>

    </ul>
    <h3>4.Parent Login</h3>
    <ul style="list-style: square">
        <li>Parent can acces via android phone</li>
        <li>parent can receive notification related to thier kids performance</li>
        <li>Its a real time notification system </li>
    </ul>
    <h3>5. SMS &amp; Android App </h3>
    <ul style="list-style: square">
        <li>Android app is specially design for parents</li>
        <li>SMS is expensive resource ,so you have option for sms weather you want to send sms or not,to specific or to all,</li>

    </ul>

    <hr>
    <p style="text-align: center;"> Developed by: Janbaz Khan<br>03349185389<br>JanbazOfficial20@Gmail.com</p>

</body>





